.slick-slider {
  padding-bottom: 35px;
  margin: 0;
}
.slick-slider .item > * {
  margin: 0;
}
.slick-basic {
  position: relative;
  overflow: hidden;
}
.slick-basic .item {
  margin: 3px;
}
.slick-dots {
  height: 25px;
  bottom: 0;
  margin: 0;
}
.slick-dots li {
  margin: 0;
}
.slick-dots li button:before {
  font-size: 14px;
  color: #e0e0e0;
  opacity: 1;
}
.slick-dots li.slick-active button:before {
  color: #42a5f5;
}
