<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
</head>
<body>
<div align="center" style="margin-top: 30px">
    <h3>Welcome to MultiDraw</h3>
    <form class="form-inline" action="/" method="get">
        <div class="form-group">
            <label>RoomId:</label>
            <input type="text" class="form-control" name="room" placeholder="Create or Enter">
        </div>
        <button id='start-draw' type="submit" class="btn btn-info">Start Drawing</button>
    </form>
</div>
</body>
<script>

//    var roomId = document.getElementsByName('room')[0];
//    var start = document.getElementById('start-draw');
//    start.onclick = function(){
//        roomId = roomId.value.trim();
//        if(!roomId){
//
//        }
//    }

</script>
</html>