<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title><%= title %></title>
    <link rel='stylesheet' href='css/bootstrap/bootstrap.css' />
    <link href="css/app-styles.css" rel="stylesheet">
    <link href="css/font_awesome/font-awesome.css" rel="stylesheet">
    <script src="app_3th_js/jQuery/jquery-1.11.3.min.js"></script>
    <script src="app_3th_js/bootstrap/bootstrap.js"></script>
    <!--[if lt IE 9]>
    <script src="app_3th_js/forIE/html5shiv.js"></script>
    <script src="app_3th_js/forIE/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div align='center' style="margin-top: 10px">
    <span class="brand-title" style="display: block;font-size: 19pt"> <i class="fa fa-paint-brush"></i>&nbsp;MultiDraw</span><br>
    <div id="modeBtn">
        <a href="/board"><button id='alone-draw' type="submit" class="btn btn-info"><i class="fa fa-user"></i>&nbsp;&nbsp;单人模式</button></a>
        <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapseEnterRoom" aria-expanded="false" aria-controls="collapseEnterRoom">
            <i class="fa fa-users"></i>&nbsp;&nbsp;多人模式
        </button>
    </div>
    <div class="collapse" id="collapseEnterRoom" style="width:380px" >
        <div class="well">
            <form class="form-inline" action="/board" method="get">
                <div class="form-group">
                    <label>房间名:</label>
                    <input type="text" class="form-control" name="room" placeholder="创建或进入">
                </div>
                <button id='start-draw' type="submit" class="btn btn-primary" style="margin-left: 10px"><i class="fa fa-paper-plane"></i></button>
            </form>
        </div>
    </div>
</div>
</body>
</html>