<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title><%= title %></title>
    <link rel='stylesheet' href='css/bootstrap/bootstrap.css' />
    <link href="css/app-styles.css" rel="stylesheet">
    <link href="css/font_awesome/font-awesome.css" rel="stylesheet">
    <script src="app_3th_js/jQuery/jquery-1.11.3.min.js"></script>
    <script src="app_3th_js/bootstrap/bootstrap.js"></script>
    <!--[if lt IE 9]>
    <script src="app_3th_js/forIE/html5shiv.js"></script>
    <script src="app_3th_js/forIE/respond.min.js"></script>
    <![endif]-->
    <style>
        .my-collapse{
            margin-top:10px;
            width:400px;
        }
        .my-btn{
            margin:10px;
        }
        .my-title{
            display: block;
            font-size: 19pt
        }
    </style>
</head>
<body>
    <div align="center" style="margin-top: 30px">
        <span class="brand-title my-title"> <i class="fa fa-paint-brush"></i> MultiDraw</span><br>
        <!--<p>一个多人实时协作的自由画板</p>-->
        <div class="well my-collapse">
            <div class="alert alert-danger" style="display: none"></div>
            <div class="form-inline">
                <div class="form-group">
                    <label>文件名:</label>
                    <input type="text" class="form-control" id = "fileName" placeholder="请输入文件名">
                </div>
                <button id='createFile' class="btn btn-primary my-btn">创建</button>
            </div>
        </div>
    </div>
</body>
<script>
    $('#createFile').on('click', function () {
        if($.trim($('#fileName').val()) === ""){
            $('.alert').html('文件名不能为空！').show();
        }else{
            $.ajax({
                method: "POST",
                url: "/saveFile",
                data: {fileName:$('#fileName').val(),background:'#ffffff'}
            }).done(function( msg ) {
                    window.location.href='/board?id='+msg.data;
                });
        }
    });
    $('#fileName').on('focus', function () {
        $('.alert').hide();
    })
</script>
</html>