<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/mystyle.css' />

    <style>
        #drawing-mode-options {
            display: inline-block;
            vertical-align: top;
            margin-bottom: 10px;
            margin-top: 10px;
            background: #f5f2f0;
            padding: 10px;
        }
        .divGlobal,.DivTop,.DivBottom{min-width: 500px;width: expression(document.body.clientWidth < 760? "760px": "100%" )/*??§³????????*/;width:100%;}
        .divGlobal{/*border:1px solid #ff0000;*/}
        /*.DivTop,.DivBottom,.DivMainLeft,.DivMainRight {border:1px solid #ff0000;}*/
        .DivBottom {clear: both;}
        .DivMainLeft{float:left;}
        .DivMainRight{margin-left:190px;}

    </style>
</head>
<body>
<!--<div class="DivTop">-->
    <!--top-->
<!--</div>-->
<div class="divGlobal">
    <div class="DivMainLeft">
        <div id='optionDiv'style="float:left; margin-left: 10px">
            <button id="drawing-mode" class="btn btn-default" style="margin-top: 10px">Cancel Drawing Mode</button><br>
            <button id="clear-all-canvas" class="btn btn-warning" style="margin-top: 10px">Clear All</button><br>
            <button id="clear-selected-canvas" class="btn btn-warning"style="margin-top: 10px" disabled="disabled" >Clear Selected</button><br>
            <!--<button id="console-info" class="btn btn-default btn-sm" style="margin-top: 10px" disabled="disabled">Console Info</button>-->
            <!--<button id="test" class="btn btn-default btn-sm" style="margin-top: 10px" >test</button><br>-->
            <div id="drawing-mode-options" style="margin-top: 10px">
                <label for="drawing-mode-selector">Mode:</label>
                <select id="drawing-mode-selector">
                    <option>Pencil</option>
                    <option>Circle</option>
                    <option>Spray</option>
                    <option>Pattern</option>

                    <option>hline</option>
                    <option>vline</option>
                    <option>square</option>
                    <option>diamond</option>
                    <option>texture</option>
                </select><br>

                <label for="drawing-line-width">Line width:</label>
                <span class="info">2</span><input type="range" value="2" min="0" max="150"  data-orientation="vertical" id="drawing-line-width"><br>

                <label for="drawing-color">Line color:</label>
                <input type="color" value="#005E7A" id="drawing-color"><br>

                <label for="drawing-shadow-color">Shadow color:</label>
                <input type="color" value="#005E7A" id="drawing-shadow-color"><br>

                <label for="drawing-shadow-width">Shadow width:</label>
                <span class="info">0</span><input type="range" value="0" min="0" max="50" id="drawing-shadow-width"><br>

                <label for="drawing-shadow-offset">Shadow offset:</label>
                <span class="info">0</span><input type="range" value="0" min="0" max="50" id="drawing-shadow-offset"><br>
            </div>
        </div>
    </div>
    <div class="DivMainRight" style="margin-right: 25px;margin-bottom: 40px;margin-top: 20px">
        <!--<div class="DivMainRightChild" >-->
            <canvas id="c" style="border:1px solid #aaa;display: block"></canvas>
        <!--</div>-->
    </div>
</div>
<!--<div class="DivBottom">-->
    <!--DivBottom-->
<!--</div>-->
</body>
<script src='/app_3th_js/jquery-1.11.3.min.js'></script>
<script src='/app_3th_js/bootstrap.js'></script>
<script src='/socket.io/socket.io.js'></script>
<script src='/app_3th_js/fabric.min.js'></script>
<script src='/app_util_js/util.js'></script>
<script src='/app_ui_js/freeDraw.js'></script>

</html>