<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Login</title>
	<link href="css/bootstrap/bootstrap.min.css" rel="stylesheet">
	<link href="css/app-styles.css" rel="stylesheet">
	<!--[if lt IE 9]>
	<script src="js/forIE/html5shiv.js"></script>
	<script src="js/forIE/respond.min.js"></script>
	<![endif]-->
</head>
<body>
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-lg-3 col-lg-offset-4 col-md-5 col-md-offset-3">
        <div class="login-panel panel panel-default" style="margin-top: 30px;">
            <div class="panel-heading">欢迎加入 MultiDraw ！</div>
            <div class="panel-body">
                <form id="joinForm" role="form" action="/signUpHandle" method="post">
                    <div class="alert alert-success" style="display: none;"></div>
                    <fieldset>
                        <div class="form-group" id="userNameDiv">
                            <label class="control-label" for="userName">用户名</label>
                            <input class="form-control" placeholder="用户名（用于登录）" name="username" id="userName" type="text">
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-6 col-md-6 col-sm-6">
                                <label class="control-label" for="firstName">名</label>
                                <input class="form-control"placeholder="FirstName" name="firstName" id="firstName" type="text">
                            </div>
                            <div class="form-group col-lg-6 col-md-6 col-sm-6">
                                <label class="control-label" for="lastName">姓</label>
                                <input class="form-control" placeholder="LastName" name="lastName" id="lastName" type="text">
                            </div>
                        </div>
                        <div class="form-group" id="passwordDiv">
                            <label class="control-label" for="passWord">密码</label>
                            <input class="form-control" placeholder="密码" name="password" id="passWord" type="password">
                        </div>
                        <div class="form-group" id="rePasswordDiv">
                            <label class="control-label" for="rePassword">确认密码</label>
                            <input class="form-control" placeholder="确认密码" name="confirmPassword" id="rePassword" type="password">
                        </div>
                        <button class="btn btn-success" type="submit">注册</button>
                        <button type="button" class="btn btn-info" id="resetBtn">重置</button>
                        <a href="/login" style="float:right;margin-top: 10px;">已有账号？立即登录！</a>
                    </fieldset>
                </form>
            </div>
        </div>
    </div><!-- /.col-->
	<script src='/app_3th_js/jQuery/jquery-1.11.3.min.js'></script>
	<script src='/app_3th_js/bootstrap/bootstrap.js'></script>
	<script src='/app_3th_js/bootstrap/bootstrapValidator.min.js'></script>
    <script>
        $(document).ready(function() {
            $('#joinForm')
                    .bootstrapValidator({
                        message: 'This value is not valid',
                        feedbackIcons: {
                            valid: 'glyphicon glyphicon-ok',
                            invalid: 'glyphicon glyphicon-remove',
                            validating: 'glyphicon glyphicon-refresh'
                        },
                        fields: {
                            username: {
                                message: 'The username is not valid',
                                validators: {
                                    notEmpty: {
                                        message: '用户名不能为空'
                                    },
                                    stringLength: {
                                        min: 4,
                                        max: 30,
                                        message: '用户名长度必须在4-30之间'
                                    },
                                    remote: {
                                        url: '/userNameExist',
                                        type:'post',
                                        message: '用户名已存在'
                                     },
                                    regexp: {
                                        regexp: /^[a-zA-Z0-9_\.]+$/,
                                        message: '用户名只能是字母、数字和下划线'
                                    }
                                }
                            },
                            firstName: {
                                message: 'The firstname is not valid',
                                validators: {
                                    notEmpty: {
                                        message: '名不能为空'
                                    }
                                }
                            },
                            lastName: {
                                message: 'The lastname is not valid',
                                validators: {
                                    notEmpty: {
                                        message: '姓不能为空'
                                    }
                                }
                            },
                            password: {
                                validators: {
                                    notEmpty: {
                                        message: '密码不能为空'
                                    },
                                    identical: {
                                        field: 'confirmPassword',
                                        message: '密码和确认密码不一致'
                                    }
                                }
                            },
                            confirmPassword: {
                                validators: {
                                    notEmpty: {
                                        message: '确认密码不能为空'
                                    },
                                    identical: {
                                        field: 'password',
                                        message: '密码和确认密码不一致'
                                    }
                                }
                            }
                        }
                    })
                    .on('success.form.bv', function(e) {
                        // Prevent form submission
                        e.preventDefault();

                        // Get the form instance
                        var $form = $(e.target);

                        // Get the BootstrapValidator instance
                        var bv = $form.data('bootstrapValidator');

                        // Use Ajax to submit form data
                        $.post($form.attr('action'), $form.serialize(), function(result) {
                            if(result.success){
                                $form.find('.alert').html( bv.getFieldElements('username').val()+' 注册成功! 3秒后将跳转登录界面').show();
                                setTimeout(function () {
                                    window.location.href='/login'
                                },3000);
                            }
                        }, 'json');
                    });
            $('#resetBtn').click(function() {
                $('#joinForm').data('bootstrapValidator').resetForm(true);
            });
        });
    </script>
</body>

</html>
