doctype html
html
  head
      title= title
      link(rel='stylesheet', href='/stylesheets/style.css')
      script(src='/javascripts/util.js')
      script(src='/socket.io/socket.io.js')
      script(src='/javascripts/jquery-1.8.0.min.js')
      script(src='/javascripts/script.js')
body
    block content
