<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
        <!--<link rel='stylesheet' href='/stylesheets/bootstrap-theme.min.css' />-->
        <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>
		<div id="cursors">
	    	<!-- The mouse pointers will be created here -->
		</div>
		<button class="btn btn-warning" type='button' id="clear">Clear All</button>
		<button class="btn btn-default" id="clear1">Clear1</button>
		<canvas id="paper" width="1900" height="1000">
			Your browser needs to support canvas for this to work!
		</canvas>
		
		<!--<hgroup id="instructions">-->
			<!--<h1>Draw anywhere!</h1>-->
			<!--<h2>You will see everyone else who's doing the same.</h2>-->
			<!--<h3>Tip: if the stage gets dirty, simply reload the page</h3>-->
		<!--</hgroup>-->
		
        <footer>
	        <h2><i>Tutorial:</i> Node.js Multiplayer Drawing Game</h2>
            <a class="tzine" href="http://tutorialzine.com/2012/08/nodejs-drawing-game/">Head on to <i>Tutorial<b>zine</b></i> to read and download</a>
        </footer>
		<script src='/app_util_js/util.js'></script>
		<script src='/socket.io/socket.io.js'></script>
		<!--<script src='/javascripts/jquery-1.8.0.min.js'></script>-->
		<script src='/app_3th_js/jquery-1.11.3.min.js'></script>
		<script src='/app_3th_js/bootstrap.js'></script>
		<script src='/app_ui_js/draw.js'></script>
		<!--<script src='/javascripts/npm.js'></script>-->
    </body>
</html>