<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../public/css/bootstrap/bootstrap.css" rel="stylesheet">.
    <link href="../public/css/semantic/semantic.css" rel="stylesheet">.
    <link href="../public/css/font_awesome/font-awesome.min.css" rel="stylesheet">
    <link href="../public/css/app-styles.css" rel="stylesheet">
    <script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src='../public/app_3th_js/angular/angular.min.js'></script>
    <script src="../public/app_3th_js/semantic/semantic.min.js"></script>
    <script src="../public/app_ui_js/controller/userCtrl.js"></script>
    <title></title>
    <style>

    </style>
</head>
<body ng-app="UserModule">
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#shareModal">
    Launch demo modal
</button>

<!-- Modal -->
<div class="mymodal fade" data-backdrop="static" id="shareModal" ng-controller="UserCtrl">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">管理协作成员</h4>
            </div>
            <div class="modal-body">
                <div class="pms-div">
                    <p style="font-weight: bold">权限列表：</p>
                    <div class="ui celled list">
                        <div class="item">
                            <img class="ui avatar image" src="../public/images/avatar.jpg">
                            <div class="content">
                                <a>丹尼尔 路易斯</a>
                            </div>
                            <span style="float:right;margin-right: 20px;">创建者</span>
                        </div><div class="item">
                            <img class="ui avatar image" src="../public/images/avatar.jpg">
                            <div class="content">
                                <a>丹尼尔 路易斯</a>
                            </div>
                            <span style="float:right;margin-right: 20px;">创建者</span>
                        </div><div class="item">
                            <img class="ui avatar image" src="../public/images/avatar.jpg">
                            <div class="content">
                                <a>丹尼尔 路易斯</a>
                            </div>
                            <span style="float:right;margin-right: 20px;">创建者</span>
                        </div>
                    </div>
                </div>
                <div class="newpms-div">
                    <p style="font-weight: bold">新邀请：</p>
                    <select class="ui fluid search dropdown" multiple="">
                        <option value="">请输入用户名</option>
                        <option value="AL">{{ user.username }}</option>
                        <option value="AL">{{ user.username }}</option>
                        <option value="AL">{{ user.username }}</option>
                        <option value="AL">{{ user.username }}</option>
                        <option value="AL">{{ user.username }}</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary">邀请</button>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    $('.ui.dropdown').dropdown();
</script>
</html>