body{
    font-family:微软雅黑;
    background: #F4F6F8;
}

ul {
    margin-left: 0;
}

label {
    display: inline-block;
    margin-right: 4px;
}

#topToolbar textarea {
    font-family: 微软雅黑;
    height: 25px;
}

.itext {
    width: 300px;
    background: transparent;
    position: absolute;
    z-index: 2;
}

.my-navbar {
    background-color: #ffffff;
}

.brand-title {
    font-family:Times New Roman;
    font-style:italic;
    font-size: 15pt;
}

/*下拉菜单按钮*/
.menu-btn{
    width:10px;
    padding-right: 30px;
}

.menu-panel{
    padding: 10px 20px;
}

#roomId {
    color:#5BC0DE;
}

/*顶部工具条*/
#topToolbar{
    background:#ffffff;
    padding-top:10px;
    padding-left:10px;
    position:absolute;
    width: 100%;
    height: 40px;
    overflow:auto;
    top:50px;
}


#topToolbar select{
    width: 80px;
}

#topToolbar input{
    width: 43px;
}

#topToolbar .cell{
    margin-right: 5px;
    float:left;
}

#topToolbar .bigCell{
    margin-right: 5px;
}

#topToolbar .colorBtn{
    cursor: default;
    border: none;
    float:left;
    height: 22px;
}

/*取色按钮*/
.mdBtn:hover {
    opacity:0.7;
    filter:none !important;
}


/*色块*/
.color-div {
    width: 21px;
    height: 21px;
    border:2px solid gray;
    float:left;
}

/*左侧工具条*/
.leftToolbar{
    position:absolute;
    top:90px;
}

/*canvas最外层*/
#canvas-col{
    position: absolute;
    overflow:auto;
    top:90px;
    right: 10px;
    left: 50px;
    bottom: 10px;
    background-color:#E1E3EF ;
    z-index: -1;
}

/*canvas容器*/
#canvasCtn{
    position: relative;
    width: 1700px;
    height: 1500px;
}


#json-value{
    overflow: auto
}


#text-cmd-overline {
    text-decoration: overline;
}

.geSprite {
    background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAA85CAMAAAAY7+AAAAAB41BMVEUAAAD///8AAABAQEAzMzMrKytAQEA5OTk3NzczMzMwMDAtLS05OTkzMzMzMzM1NTUzMzMxMTE2Ni41NTUyMjI2Ni81NS8zMzM1NTAzMzMxMTE0NDQxMTEzMzM1NTEzMzM0NDEyMjIyMjI0NDEyMjIzMzMyMjI0NDE0NDE0NDE0NDEyMjI0NDE0NDE0NDIzMzMyMjIzMzMzMzMyMjI0NDIzMzEzMzMzMzEzMzMzMzM0NDIzMzEzMzMzMzMyMjI0NDIzMzEzMzMyMjI0NDIzMzEzMzEzMzMzMzMyMjI0NDIzMzEyMjI0NDIzMzMyMjIzMzMyMjI0NDIzMzMzMzIzMzEzMzMyMjIzMzI0NDIzMzIyMjIyMjI0NDIzMzE0NDIzMzIzMzIzMzE0NDIzMzEyMjIzMzIzMzMzMzIzMzIzMzIzMzIzMzIzMzIzMzMzMzIzMzIzMzIzMzIzMzIzMzIzMzIzMzIzMzEzMzIzMzIzMzIAAAANDQ0QEBAbGxsgICAmJiYpKSkwMDA3Nzc/Pz9AQEBGRkZPT09QUFBTU1NTiPJfX19gYGBiYmJmZmZvb29wcHBzc3N8fHx+fn5/f3+MjIyampqgoKCoqKiwsLC1tbW3t7fAwMDg4ODw8PD+/f7/Z2T///+2fVmcAAAAenRSTlMAAAIEBQYICQ4PEBESFBkdHh8hIiQmKy0wMjQ2PkFERklMTU5SVVZYWV1eYWJjZ2lrbm9wcXJ0d3h5e3x9fn+AgoOEhYaHiI2Oj5GTlJeYnJ2eoaSlpqeusrO2u7y/wcLDxMbJyszP09ba29zd3t/g5ebn6err7e7x+KTh+iAAAAkeSURBVHgB7NvfTuw2EIDxM6/9derUZXuooDTQbVWpT1vsERknMUr4cxR2Nd8Fi36yRiHmJsF8k17fBJgJUFSYJ7y6Vhwt5B06DGINg+tgWnBYrh0q9yZsrx2eK2rfdK/ss/Tj97fTV9XQUGq6VhFFO3qC7tq80pJsrN2eq9vX64WGzgqFS9IMkF2dDV0r53ffHRZd7e9DaCiztiYwdR1zr0hDQ6m1yqy+bs1l6vr12N0MDaWnxmmlwlnRlZ5JknWpmpCGTTWLOBc1tIxNFS/1VNsJDT49VXUuKI+PVZ0NCxc1LtiqccHKl77zoaEHvM2nVCR3lbRWgNRbq5tzvT3Kbs1AXqko2puQrvBtfmioak+ho+n797RWRFjpTRJJN0vlLHJmoXfU7ubKTR3DTM/4HFdVmX3GHoeGCj/9/Muvv/3+x59//f3Pv/+9XUMvaudDQ5n3otJ2nEJHoTK0Ssk+VsoubXIl/ioXGtpXakuVEe1MAFnribT7SYJTR0HWqowrpRb75oWGMmvv2uuY+/U1NDROu3nb19C5XkfnA+6vd4SGhmKxR739p3qkq+xRqW2ohX9sapzD+5iGht4rkBdKyZxJOYnIqIAyqYp1Aib1p/PbRs+TaqOO8QbuMzU0Tta36y9ybux8aChtmyovvaYPD8eot6WlB29DL2s3Q0OV0dUR41bTCLBQRUdQU0eeuaJrQUgyqaOKa4uujq4dNHWcq6Or4aP15vP29HqLHrDzoaHxdnyfxvv10FDwr0dpsrP5qfuM3jm/M638wf8/HxoamgG9b1SrWa6oPRmIyAnX0kksbfVWXhob1UnPrs4b1xsaGpqBvFSsudqLgBFazQWHwrlRkKoCcx1Krqu1G3N712Bs5d7PlsmunnGjzq7O9/+za0epruNAEIbRtv89nAXUbgczojgjF6RhTK4vlB7y8NE0gk4lThNr3zvVZn7FzK955l2b+zbz1eobFUVFSYUuPXeLQpeu44hcm/uO79C5VavfVu7n/9cOtFqtAklXUKVaobOv0Wo81Gg1WhNaZbQarSda4TdaFyso9L1T7efD/hywGhVqUegr1jDzy/hbRcim0KmXqzmuVqff87nWxc8pv4+Vo/4hBVa/56vPaDOvpEKHGq3agdeHJ/MDrcZmvlp9v3Kcd923Wq2iWAsKuthuNaNB5l076gsa33dNtVqtgk41H2q2mqeZd23AyR2MnWa1+mjmAUVFSWeZd+2w79cyX61WlVKokFjHfJT5qKGvWZ1Ftfq0khS4KwBW4+ZB5o2Dvrc7mDu36tNaFchqA7ZbgXHmbXzoa1dn8U6tdm+v+Ht+LQi13dv/PVrtDm+Bgsa9/UqZd+2h3eG9Uavd4f2stX50KPv1yLw11oa+3eH9Sa12hyfuipaIT9s6fs9fuDnVfuhr7g6vWv2Swl1B2m79+Tfc4merE28OtR/62juLZ7VaFXcVRqswWi8zWjnOUTvou312305zrtWq4K5G64FW4yDzsdY8uIO5c3taq818UBFUWCeZn/bd3MxXq19RAcrpVk73IPPWQV/fobN4XKtVkgJ3DYndCIPMmwd9N+f7dm7Pa7Uq0KkCsG/FZ5R5w4e+29VZvE6r3dvLaIX/5j7Vdm//fq12h7dueuFduSTv7XPf7vCq1dft8PzP2N+6w0pWn1yb+3aHV63+iR2euCtaZiu6PW1vvHifo3bS9+Lv7fCq1WrepEuXW4+/0m41OvWxNvQd3KET+ocd+e5GMAoAOPw7lf0aJCJ7DzJEqbh4uckmgwzXHtmj+PaObm98B855/nr+8P4vQN3aTepZjRYAWFsUvx3Z2zDDsbeOny28kg5flSCaX/3Ql93dlfW2aQSl5uz4U21mG6/ttuW54H5g4qic7uPMxrwwBQJaPNhenHofK2EyvWW9sNWj9zMipZLyRMrIoZRnfr1JA0SaMQSLg3pP662taQXVoDewCsLxvb5iKpI5eo13N2PbCwczUWWwE0YvXYn5piW7oLM9tHmRZy0Dr153UDhNV/y8hOziUan7u8TlRyiXXwuufv9w81d7d7SbNhBEYbh+7V8ICalShHKRC6QoLWD2UcvUVmfXnjbb2CCMzxGB9Ot0vDQem1YkNjPVfiZdkEJYazrhyjKeumtEUL014DZbW8k1LaRSINRoLgBtbbJKpVLKPPJ6pVKpny6zifXx9c9MmyKuXuYa10Z94zVEiVUqlVKkosOolrgvYS3U19avYepzq1epVDNvFNVCOPPVtcZ3nnmpVAquDvSP2Rz3Apj6HyR/ve6lPZr2n3mDcmt4l3zmP38WUqmULKVuzufNWN9Sehvr6ePjNNKX9HK9DfV4gtNxoLt0gEPalfqefue90G06fr/mmLa5HtIrwGs65Ho+Y7FHfeWlfaQ+9aNaog7E2lQrsTaR+pk+U0yhodTKK1rRJ6oN+vqSn+3/BqVSIKzl81q6O4KJDfpSfyy5mnO5NX3dpNK7ae0U4jj/zE85RnllXa1HKl2Okse1/KjX5+obRCp9AqVtWy6Xiz3yNbWYAq4WUxrLzGqpfsZU6w7YjWs3bKMOW+1R0uWe50ttu4SaAk1pqHhslHq9/Ikp27ECbKPaTdw3WG+wsvr1ai+RLlvZ7/fcTwFXj1mF+mnW1U+zwc/ANOzVhhif5H9q+3dtR9qatgntUdLHVZ/IO6kl/t7UKvVJL9UmPepwxfg7b3zEv6o++LEuaX+QSglnM1kmKZZKTW2bUqBTt9Zn57/vuuGqe0umWyylGntt1HeJMy+V3mku4tls73qEacMjTDt5ax6pVDqjkn+o72x9pVKPlMm1UzrQYLfu4YFW5lmHSqUQ67P1lUqlNHQZamOZX+OtxSvD45pVz6t6l+J6VEqXhlL7+9k12JrHFU+uXjmvehrN/JOrlC5D7W+za5eKf2HjydXv5lWP9pJnVil5qmr7B9fslDmrWkba51aq1/ZrUSmWW01WPMf3O2pgmX7sk0p1JJhrjrPc9jWBzuhSKUXWWyuVLkIZptNB4X9qRV9+Wlagw2jvk5aREiv1V+uCur4eqVRavB0mn7fy3hRLfh93WJtqj1qtSvkRqnFQa2wKNH4yNwa+UbwF7sr267g26Fu7hgf6m/wFtDewQNKnDS8AAAAASUVORK5CYII=') no-repeat top left;
    _background:url('sprites.png') no-repeat top left;
    width:21px;
    height:25px;
    border: none;
}

.geSprite-actualsize { background-position: 0 0; }
.geSprite-bold { background-position: 0 -46px; }
.geSprite-bottom { background-position: 0 -92px; }
.geSprite-center { background-position: 0 -138px; }
.geSprite-delete { background-position: 0 -184px; }
.geSprite-fillcolor { background-position: 0 -230px; }
.geSprite-fit { background-position: 0 -277px; }
.geSprite-fontcolor { background-position: 0 -322px; }
.geSprite-gradientcolor { background-position: 0 -368px; }
.geSprite-image { background-position: 0 -414px; }
.geSprite-italic { background-position: 0 -460px; }
.geSprite-left { background-position: 0 -505px; }
.geSprite-middle { background-position: 0 -552px; }
.geSprite-print { background-position: 0 -598px; }
.geSprite-redo { background-position: 0 -644px; }
.geSprite-right { background-position: 0 -689px; }
.geSprite-shadow { background-position: 0 -736px; }
.geSprite-strokecolor { background-position: 0 -782px; }
.geSprite-top { background-position: 0 -828px; }
.geSprite-underline { background-position: 0 -874px; }
.geSprite-undo { background-position: 0 -920px; }
.geSprite-zoomin { background-position: 0 -966px; }
.geSprite-zoomout { background-position: 0 -1012px; }
.geSprite-arrow { background-position: 0 -1059px; }
.geSprite-linkedge { background-position: 0 -1105px; }
.geSprite-straight { background-position: 0 -1150px; }
.geSprite-entity { background-position: 0 -1196px; }
.geSprite-orthogonal { background-position: 0 -1242px; }
.geSprite-curved { background-position: 0 -1288px; }
.geSprite-noarrow { background-position: 0 -1334px; }
.geSprite-endclassic { background-position: 0 -1380px; }
.geSprite-endopen { background-position: 0 -1426px; }
.geSprite-endblock { background-position: 0 -1472px; }
.geSprite-endoval { background-position: 0 -1518px; }
.geSprite-enddiamond { background-position: 0 -1564px; }
.geSprite-endthindiamond { background-position: 0 -1610px; }
.geSprite-endclassictrans { background-position: 0 -1656px; }
.geSprite-endblocktrans { background-position: 0 -1702px; }
.geSprite-endovaltrans { background-position: 0 -1748px; }
.geSprite-enddiamondtrans { background-position: 0 -1794px; }
.geSprite-endthindiamondtrans { background-position: 0 -1840px; }
.geSprite-startclassic { background-position: 0 -1886px; }
.geSprite-startopen { background-position: 0 -1932px; }
.geSprite-startblock { background-position: 0 -1978px; }
.geSprite-startoval { background-position: 0 -2024px; }
.geSprite-startdiamond { background-position: 0 -2070px; }
.geSprite-startthindiamond { background-position: 0 -2116px; }
.geSprite-startclassictrans { background-position: 0 -2162px; }
.geSprite-startblocktrans { background-position: 0 -2208px; }
.geSprite-startovaltrans { background-position: 0 -2254px; }
.geSprite-startdiamondtrans { background-position: 0 -2300px; }
.geSprite-startthindiamondtrans { background-position: 0 -2346px; }
.geSprite-globe { background-position: 0 -2392px; }
.geSprite-orderedlist { background-position: 0 -2438px; }
.geSprite-unorderedlist { background-position: 0 -2484px; }
.geSprite-horizontalrule { background-position: 0 -2530px; }
.geSprite-link { background-position: 0 -2576px; }
.geSprite-indent { background-position: 0 -2622px; }
.geSprite-outdent { background-position: 0 -2668px; }
.geSprite-code { background-position: 0 -2714px; }
.geSprite-fontbackground { background-position: 0 -2760px; }
.geSprite-removeformat { background-position: 0 -2806px; }
.geSprite-superscript { background-position: 0 -2852px; }
.geSprite-subscript { background-position: 0 -2898px; }
.geSprite-table { background-position: 0 -2944px; }
.geSprite-deletecolumn { background-position: 0 -2990px; }
.geSprite-deleterow { background-position: 0 -3036px; }
.geSprite-insertcolumnafter { background-position: 0 -3082px; }
.geSprite-insertcolumnbefore { background-position: 0 -3128px; }
.geSprite-insertrowafter { background-position: 0 -3174px; }
.geSprite-insertrowbefore { background-position: 0 -3220px; }
.geSprite-grid { background-position: 0 -3272px; }
.geSprite-guides { background-position: 0 -3324px; }
.geSprite-dots { background-position: 0 -3370px; }
.geSprite-alignleft { background-position: 0 -3416px; }
.geSprite-alignright { background-position: 0 -3462px; }
.geSprite-aligncenter { background-position: 0 -3508px; }
.geSprite-aligntop { background-position: 0 -3554px; }
.geSprite-alignbottom { background-position: 0 -3600px; }
.geSprite-alignmiddle { background-position: 0 -3646px; }
.geSprite-justifyfull { background-position: 0 -3692px; }
.geSprite-formatpanel { background-position: 0 -3738px; }
.geSprite-connection { background-position: 0 -3784px; }
.geSprite-vertical { background-position: 0 -3830px; }
.geSprite-simplearrow { background-position: 0 -3876px; }

/*三级菜单相关CSS*/

.dropdown-submenu {
    position: relative;
}
.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}
.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}
.dropdown-submenu:hover > a:after {
    border-left-color: #fff;
}
.dropdown-submenu.pull-left {
    float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
/*三级菜单相关CSS END*/
