body{  margin: 0;background: #F4F6F8;margin-top:50px}
#bd-wrapper {position: relative; }
#canvasContainer{
    position: absolute;
}
ul { margin-left: 0; }
label { display: inline-block; margin-right: 8px; }
button.selected { font-weight: bold; vertical-align: top }
textarea { font-family: monospace; }
input[type=color] { width: 40px; padding: 0; margin: 0; height: 20px; position: relative; top: 2px;}
input[type=radio] { margin-top: -3px; }
canvas{  border: solid 2px;margin-top:20px;  }
#canvas-background { display: inline-block; position: absolute; top: 65px; right: 40px; }
#roomId{color:#5BC0DE;}
#modeBtn button{margin:10px}
.testBtn{  display:none;}
.brand-title{  font-family:Times New Roman;  font-style:italic;  font-size: 15pt;  }
.my-navbar {  background-color: #ffffff;  }
.toolbar{margin-left:20px; width:100%; margin-top:20px;position:fixed;  z-index:99;  }
.overflow{  overflow-y:hidden;  }
.modal-title{font-family: Î¢ÈíÑÅºÚ; font-size: 13pt}
/*button {font-family: Î¢ÈíÑÅºÚ}*/
#controls{margin-top:70px;margin-left: 20px;padding:0px}
#color-opacity-controls label{margin-top:10px}
#text-wrapper textarea {width:120px;height: 80px;margin-top:10px }
#font-family {width:100px}
#text-controls label{margin-top:10px}
#drawing-mode-options { margin-right: 30px}
#drawing-mode-options label {margin-top:10px}
#text-cmd-overline { text-decoration: overline; }
/*#text-cmd-italic { font-style: italic; }*/
/*#text-cmd-shadow { text-shadow: rgb(100,100,100) 1px 1px 3px; }*/
/*#svg-console, #canvas-console, #json-console { width: 430px; height: 500px; display: block; }*/
/*#text { position: relative; width: 300px; height: 200px; }*/
/*#text-cmd-linethrough { text-decoration: line-through; }*/
/*#text-cmd-underline { text-decoration: underline; }*/
/*#fps { position: absolute; left: 1px; top: 0; background: rgb(200,200,200); width: 70px; z-index: 1000; }*/
/*#commands { float: left; font-size: 14px; margin-left: 15px; }*/
/*#commands ul { list-style: none; padding-left: 0; }*/
/*#complexity { clear: both; padding-top: 10px; }*/
/*#object-controls-pane { width: 450px }*/
/*.svg-shapes { overflow: hidden; width: 450px; margin-left: 0; }*/
/*.svg-shapes li { display: inline-block; margin-bottom: 5px; }*/
/*.tabs li, .tabs li a { display: inline-block; }*/
/*.btn-lock { margin-bottom: 3px; }*/
/*#color-opacity-controls { display: inline-block; vertical-align: top; margin-bottom: 5px;margin-right: 20px; }*/
.dropdown-submenu {
    position: relative;
}
.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}
.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}
.dropdown-submenu:hover > a:after {
    border-left-color: #fff;
}
.dropdown-submenu.pull-left {
    float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}