body{
    font-family:微软雅黑 ;
    background: #F4F6F8;
}

/*#bd-wrapper {*/
    /*position: relative;*/
/*}*/

#canvas-col{
    position: absolute;
    overflow:auto;
    right: 10px;
    left: 180px;
    bottom: 20px;
    /*top:60px;*/
    height: 90%;
    background-color:#E1E3EF ;
    z-index: -1;
    /*margin:60px 100px 0px 300px;*/
}

#canvasCtn{
    position: relative;
    width: 2000px;
    height: 1500px;
}
ul {
    margin-left: 0;
}

label {
    display: inline-block; margin-right: 8px;
}

button.selected {
    font-weight: bold; vertical-align: top
}

textarea {
    font-family: monospace;
}

input[type=color] {
    width: 40px; padding: 0; margin: 0; height: 20px; position: relative; top: 2px;
}

input[type=radio] {
    margin-top: -3px;
}

#roomId {
    color:#5BC0DE;
}

#modeBtn button {
    margin:10px
}

.testBtn {
    /*display:none;*/
    margin-top: 20px;
}

.brand-title {
    font-family:Times New Roman;  font-style:italic;  font-size: 15pt;
}

.my-navbar {
    background-color: #ffffff;
    height: 10px;
}

.toolbar{
    width:100%;
    position:absolute;
    /*z-index: 1;*/
    top:50px
}

.overflow{
    overflow-y:hidden;
}

#json-value{
    overflow: auto
}

.my-font {
    font-family: ΢微软雅黑
}

#controls{
    margin-left: 20px;padding:0px;;
}

#color-opacity-controls label{
    margin-top:10px
}

#text-wrapper textarea {
    width:120px;
    height: 80px;
    margin-top:10px
}

#font-family {
    width:100px
}

#text-controls label {
    margin-top:10px
}

#drawing-mode-options {
    margin-right: 30px
}

#drawing-mode-options label {
    margin-top:10px
}

#text-cmd-overline {
    text-decoration: overline;
}

/*三级菜单相关CSS*/

.dropdown-submenu {
    position: relative;
}
.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}
.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}
.dropdown-submenu:hover > a:after {
    border-left-color: #fff;
}
.dropdown-submenu.pull-left {
    float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}