body{  margin: 0;background: #F4F6F8;}
#bd-wrapper {position: relative; }
ul { margin-left: 0; }
label { display: inline-block; margin-right: 8px; }
button.selected { font-weight: bold; vertical-align: top }
textarea { font-family: monospace; }
input[type=color] { width: 40px; padding: 0; margin: 0; height: 20px; position: relative; top: 2px;}
input[type=radio] { margin-top: -3px; }
canvas{  border: solid 2px;  }
#canvas-background { display: inline-block; position: absolute; top: 125px; right: 40px; }
#roomId{color:#5BC0DE;}
.testBtn{  display: none;  margin: 10px;  }
.brand-title{  font-family:Times New Roman;  font-style:italic;  font-size: 14pt;  }
.my-navbar {  background-color: #ffffff;  }
.toolbar{margin-left:20px; width:100%;  position:fixed;  z-index:99;  }
.overflow{  overflow-y:hidden;  }
.breadcrumb {
    border-radius: 0;
    padding: 10px 15px;
    background: #ffffff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    margin: 0 ;
}
#controls{margin-top:70px;margin-left: 20px;padding:0px}
#color-opacity-controls label{margin-top:10px}
#text-wrapper textarea {width:120px;height: 80px;margin-top:10px }
#font-family {width:100px}
#text-controls label{margin-top:10px}
#drawing-mode-options { margin-right: 30px}
#drawing-mode-options label {margin-top:10px}
#text-cmd-overline { text-decoration: overline; }
/*#text-cmd-italic { font-style: italic; }*/
/*#text-cmd-shadow { text-shadow: rgb(100,100,100) 1px 1px 3px; }*/
/*#svg-console, #canvas-console, #json-console { width: 430px; height: 500px; display: block; }*/
/*#text { position: relative; width: 300px; height: 200px; }*/
/*#text-cmd-linethrough { text-decoration: line-through; }*/
/*#text-cmd-underline { text-decoration: underline; }*/
/*#fps { position: absolute; left: 1px; top: 0; background: rgb(200,200,200); width: 70px; z-index: 1000; }*/
/*#commands { float: left; font-size: 14px; margin-left: 15px; }*/
/*#commands ul { list-style: none; padding-left: 0; }*/
/*#complexity { clear: both; padding-top: 10px; }*/
/*#object-controls-pane { width: 450px }*/
/*.svg-shapes { overflow: hidden; width: 450px; margin-left: 0; }*/
/*.svg-shapes li { display: inline-block; margin-bottom: 5px; }*/
/*.tabs li, .tabs li a { display: inline-block; }*/
/*.btn-lock { margin-bottom: 3px; }*/
/*#color-opacity-controls { display: inline-block; vertical-align: top; margin-bottom: 5px;margin-right: 20px; }*/