/*Glbal Styles*/
body {
    background: #ffffff;
    padding-top: 50px;
    color: #5f6468;
}

.brand-title{
    font-family:Times New Roman;
    font-style:italic;
    font-size: 14pt;
}

.my-navbar {
    background-color: #ffffff;
}

.toolbar{
    margin:0 0;
    width:100%;
    position:fixed;
    z-index:99;
}

.overflow{
    overflow-y:hidden;
}

.breadcrumb {
    border-radius: 0;
    padding: 10px 15px;
    /*background: #e9ecf2;*/
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    margin: 0 ;
}